 .divOne
        {
             
            width:1032px;
            background-color : #873E8D;
            
            margin: 50px 0 0 100px;
    top: -43px;
    left: 10px;
    position: absolute;
    height: 161px;
}

         
        
         .divFour
        {
            width:100%;
            margin: 50px 0 0 100px;
        }
        
          .divFive
        {
            width:100%;
            margin: 50px 0 0 100px;
        }
        
             .divSix
        {
            width:100%;
            margin: 50px 0 0 100px;
    top: 1005px;
    left: 277px;
    position: absolute;
    height: 265px;
}
        
        
        #Image1
        {
            height : 150px;
            width : 150px;
            
            
            border-Width:2px;
            border-Color:White;
            border-Style:Solid;

            
            
        }
            
        .text1
        {
            font-family : Sans-Serif;
            color: white;
            font-size : 55px;
            text-align : center;
           
        }
        
        .table1
        {
            width:80%;
    height: 153px;
}
        
    .nav
    {
        margin : 0px;
        position:absolute;
         top: 180px;
          left: 110px;
        
    }
    
    .nav ul
    {
        padding : 0px;
        list-style : none;
        margin:0px;
    }
    
        
    .nav ul li
    {
        margin : 0.5px;
        float : left;
        text-align : center;
        width :257px;
        display:block;
        position:relative;
        
    }
    
    .nav ul li a
    {
        
        
        
        color : #FFFFFF;
        background-color : #873E8D;
        padding : 10px;
        font-family : Sans-Serif;
        font-size : 13px;
        display : block;
        text-decoration : none;
        font-weight : bold;
        white-space:nowrap;
        
    }
    
     .nav ul li a:hover 
    {
        color : #FFFFFF;
        background-color : #A878AE;
    }
    
     .nav ul li ul
    {
        display : none;
        
    }
    
    .nav ul li:hover ul
    {
        display : block;
        position:absolute;
    }
    
        .divThree
    {
         margin : 0px;
        position:absolute;
         top: 180px;
          left: 100px;
         
        
    }
    
    .divThree ul
    {
        padding : 0px;
        list-style : none;
        margin:0px;
    }
    
    .divThree ul li
    {
        
        display:block;
        position:relative;
        margin : 0.5px;
        float : left;
        text-align : center;
        width :515px;
        
    }
    
    .divThree ul li a
    {
        color : #FFFFFF;
        background-color : #873E8D;
        padding : 10px;
        font-family : Sans-Serif;
        font-size : 13px;
        display : block;
        text-decoration : none;
        font-weight : bold;
        
    }
    
     .divThree ul li a:hover 
    {
        color : #FFFFFF;
        background-color : #A878AE;
    }
    
     .divThree ul li ul
    {
        display : none;
        
    }
    
    .divThree ul li:hover ul
    {
        display : block;
    }
    
