<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="MySql.Data, Version=6.9.6.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/></assemblies></compilation>
	</system.web>

  <connectionStrings>
    <add name="EmployeeDataConnection" connectionString="server=localhost;database=EmployeeData;uid=root;password=root"
      providerName="System.Data.SqlClient;" />
    <add name="employeedataConnectionString" connectionString="server=localhost;user id=root;password=root;database=employeedata"
      providerName="MySql.Data.MySqlClient" />
    <add name="employeedataImportant Extension" connectionString="server=localhost;user id=root;password=root;database=employeedata"
      providerName="MySql.Data.MySqlClient" />
    <add name="employeedataConnectionStringConference" connectionString="server=localhost;user id=root;password=root;database=employeedata"
      providerName="MySql.Data.MySqlClient" />
  </connectionStrings>


</configuration>
