<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
		</compilation>
	</system.web>
	<connectionStrings>
		<add name="xls" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=telephone_extentions.xls;Extended Properties=Excel 8.0"/>
		<add name="xlsx" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=telephone_extentions.xls;Extended Properties=Excel 12.0"/>
	</connectionStrings>
	<appSettings>
		<add key="xlsFile" value="~/telephone_extentions.xls"/>
		<add key="xmlFile" value="data.xml"/>
		<add key="xmlDateModifiedFile" value="lastModifiedTime.xml"/>
		<add key="exceptionLogger" value="~/exceptionLogger.txt"/>
		<add key="xlsAbsolutePath" value="http://cmbintweb/admin/Shared%20Documents/telephone_extentions.xls"/>
		<add key="username" value="extfinderwws"/>
		<add key="password" value="trainingINTERNAL0"/>
		<add key="domain" value="corpnet"/>
	</appSettings>
</configuration>
