<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Login.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
        <url-pattern>/AdminLogin</url-pattern>
        <url-pattern>/loginError</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EmplyeeServlet</servlet-name>
        <servlet-class>Employees.EmplyeeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EmplyeeServlet</servlet-name>
        <url-pattern>/EmplyeeServlet</url-pattern>
        <url-pattern>/ProfileEdit</url-pattern>
        <url-pattern>/ProfileAdd</url-pattern>
        <url-pattern>/ProfileDelete</url-pattern>
         <url-pattern>/ProfileView</url-pattern>
         <url-pattern>/AddNewEmployee</url-pattern>
         <url-pattern>/NewEmployee</url-pattern>
    </servlet-mapping>
   
    <servlet>
        <servlet-name>NewExtensionServlet</servlet-name>
        <servlet-class>Extension.NewExtensionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewExtensionServlet</servlet-name>
        <url-pattern>/NewExtensionServlet</url-pattern>
        <url-pattern>/ExtensionSavingError</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
